apiVersion: v2
name: tempo
description: Grafana Tempo Single Binary Mode
type: application
version: 1.24.4-bb.1
appVersion: 2.10.0
home: https://grafana.net
icon: https://raw.githubusercontent.com/grafana/tempo/master/docs/tempo/website/logo_and_name.png
sources:
  - https://github.com/grafana/helm-charts/tree/main/charts/tempo
dependencies:
  - name: gluon
    version: "0.9.7"
    repository: oci://registry1.dso.mil/bigbang
  - name: bb-common
    version: 0.14.0
    repository: "oci://registry1.dso.mil/bigbang"
  - name: tempo
    version: "1.24.4"
    repository: https://grafana.github.io/helm-charts
    alias: upstream
annotations:
  bigbang.dev/maintenanceTrack: bb_integrated
  bigbang.dev/applicationVersions: |
    - Tempo: 2.10.0
    - Tempo Query: 2.10.0
  bigbang.dev/upstreamReleaseNotesMarkdown: |
    - [Find upstream chart's release notes and CHANGELOG here](https://github.com/grafana/helm-charts/releases?q=tempo&expanded=true)
    - [Find upstream applications's release notes and CHANGELOG here](https://grafana.com/docs/tempo/latest/release-notes/)
  helm.sh/images: |
    - name: tempo
      image: registry1.dso.mil/ironbank/opensource/grafana/tempo:2.10.0
    - name: tempo-query
      image: registry1.dso.mil/ironbank/opensource/grafana/tempo-query:2.10.0
