# -- Domain used for BigBang created exposed services
domain: dev.bigbang.mil
# -- Toggle istio integration. Intended to be controlled via BigBang passthrough of istio package status
istio:
  enabled: false
  # -- Default peer authentication values
  hardened:
    enabled: false
    outboundTrafficPolicyMode: "REGISTRY_ONLY"
    customServiceEntries: []
      # - name: "allow-google"
      #   enabled: true
      #   spec:
      #     hosts:
      #       - google.com
      #     location: MESH_EXTERNAL
      #     ports:
      #       - number: 443
      #         protocol: TLS
      #         name: https
      #     resolution: DNS
    customAuthorizationPolicies: []
    # - name: "allow-nothing"
    #   enabled: true
    #   spec: {}
  mtls:
    # -- STRICT = Allow only mutual TLS traffic,
    # PERMISSIVE = Allow both plain text and mutual TLS traffic
    mode: STRICT

# -- Toggle for BigBang specific NetworkPolicies.
# If disabled no NetworkPolicies will be installed with package
# ref: https://kubernetes.io/docs/concepts/services-networking/network-policies/
networkPolicies:
  enabled: false
  # -- Istio IngressGateway labels for VirtualService external routing to app UI
  ingressLabels:
    app: istio-ingressgateway
    istio: ingressgateway
  # -- Use `kubectl cluster-info` and then resolve to IP for kube-api.
  # Review value description in BigBang README.md
  controlPlaneCidr: 0.0.0.0/0
  additionalPolicies: []

# -- Toggle monitoring integration. Intended to be controlled via BigBang passthrough of monitoring package status
monitoring:
  enabled: false

# -- SSO toggle. Intended to be controlled via BigBang passthrough, only affects network/auth policies.
sso:
  enabled: false

upgradeJob:
  # -- Enable BigBang specific autoRollingUpgrade support
  enabled: true
  name: tempo-upgrade-job
  image:
    repository: registry1.dso.mil/ironbank/opensource/kubernetes/kubectl
    tag: v1.32.7
    imagePullPolicy: Always
    pullSecrets: private-registry
  hook:
    phase: pre-upgrade  # or post-upgrade, pre-install, post-install
    deletePolicy: hook-succeeded,before-hook-creation
  serviceAccount: upgrade-job-svc-account
  role: upgrade-role
  roleBinding: upgrade-rolebinding

bbtests:
  enabled: false
  cypress:
    artifacts: true
    envs:
      cypress_url: 'http://{{ .Release.Name }}.{{ .Release.Namespace }}.svc.cluster.local:16686'
      cypress_tempo_datasource: 'http://{{ .Release.Name }}.{{ .Release.Namespace }}.svc:3100'
      cypress_check_datasource: "false"
      cypress_grafana_url: "http://monitoring-grafana.monitoring.svc.cluster.local"
    resources:
      requests:
        cpu: "1"
        memory: "1Gi"
      limits:
        cpu: "2"
        memory: "2Gi"
  scripts:
    enabled: true
    image: registry1.dso.mil/ironbank/big-bang/base:2.1.0
    envs:
      TEMPO_METRICS_URL: 'http://{{ .Release.Name }}.{{ .Release.Namespace }}.svc:3100'

# -- Toggle or openshift specific config
openshift: false
# -- Values to pass to [the upstream tempo chart](https://github.com/grafana/helm-charts/blob/main/charts/tempo/values.yaml)
# @default -- Upstream chart values
upstream:
  # -- Overrides the chart's computed fullname
  fullnameOverride: "tempo-tempo"

  # -- Overrides the chart's computed name
  nameOverride: "tempo"

  tempo:
    # -- Docker image repository
    repository: registry1.dso.mil/ironbank/opensource/grafana/tempo
    # -- Docker image tag
    tag: 2.8.2
    # -- Docker image pull policy
    pullPolicy: Always

    resources:
      requests:
        cpu: 500m
        memory: 4Gi

    reportingEnabled: false

    ingester:
      trace_idle_period: 10s
      max_block_bytes: 1_000_000
      max_block_duration: 5m

    retention: 336h # 2 weeks retention

    server:
      # -- HTTP server listen port
      http_listen_port: 3100

    # Readiness and Liveness Probe Configuration Options
    livenessProbe:
      httpGet:
        path: /ready
        port: 3100
    readinessProbe:
      httpGet:
        path: /ready
        port: 3100

    receivers:
      zipkin:
        endpoint: 0.0.0.0:9411
    securityContext:
      capabilities:
        drop:
        - ALL

  tempoQuery:
    # -- Docker image repository
    repository: registry1.dso.mil/ironbank/opensource/grafana/tempo-query
    # -- Docker image tag
    tag: 2.8.2
    # -- Docker image pull policy
    pullPolicy: Always
    resources:
      requests:
        cpu: 300m
        memory: 256Mi

    securityContext:
      capabilities:
        drop:
        - ALL

  # -- securityContext for container
  securityContext:
    runAsUser: 1001
    runAsGroup: 1001
    fsGroup: 1001
    runAsNonRoot: true

  serviceAccount:
    # -- Image pull secrets for the service account
    imagePullSecrets:
      - name: private-registry
    automountServiceAccountToken: false

  # -- Pod Annotations
  podAnnotations:
    traffic.sidecar.istio.io/includeInboundPorts: "3100,4317,4318"