{{ if and .Values.networkPolicies.enabled .Values.monitoring.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: ingress-allow-kiali
  namespace: {{ .Release.Namespace }}
spec:
  podSelector: {}
  policyTypes:
  - Ingress
  ingress:
  - from:
    - podSelector:
        matchLabels:
          app.kubernetes.io/name: kiali
      namespaceSelector:
        matchLabels:
          app.kubernetes.io/name: kiali
    ports:
      - port: 3200
        protocol: TCP
{{- end }}        